[submodule "sonic-swss-common"]
	path = src/sonic-swss-common
	url = https://github.com/mhchann/sonic-swss-common.git
[submodule "sonic-linux-kernel"]
	path = src/sonic-linux-kernel
	url = https://github.com/mhchann/sonic-linux-kernel.git
[submodule "sonic-sairedis"]
	path = src/sonic-sairedis
	url = https://github.com/mhchann/sonic-sairedis.git
[submodule "sonic-swss"]
	path = src/sonic-swss
	url = https://github.com/mhchann/sonic-swss.git
[submodule "src/p4c-bm/p4c-bm"]
	path = platform/p4/p4c-bm/p4c-bm
	url = https://github.com/mhchann/p4c-bm.git
[submodule "src/p4-hlir/p4-hlir"]
	path = platform/p4/p4-hlir/p4-hlir
	url = https://github.com/mhchann/p4-hlir.git
[submodule "sonic-dbsyncd"]
	path = src/sonic-dbsyncd
	url = https://github.com/mhchann/sonic-dbsyncd.git
[submodule "src/sonic-py-swsssdk"]
	path = src/sonic-py-swsssdk
	url = https://github.com/mhchann/sonic-py-swsssdk.git
[submodule "src/sonic-snmpagent"]
	path = src/sonic-snmpagent
	url = https://github.com/mhchann/sonic-snmpagent.git
[submodule "src/ptf"]
	path = src/ptf
	url = https://github.com/mhchann/ptf.git
[submodule "src/sonic-utilities"]
	path = src/sonic-utilities
	url = https://github.com/mhchann/sonic-utilities.git
[submodule "platform/broadcom/sonic-platform-modules-arista"]
	path = platform/broadcom/sonic-platform-modules-arista
	url = https://github.com/mhchann/sonic.git
[submodule "src/sonic-platform-common"]
	path = src/sonic-platform-common
	url = https://github.com/mhchann/sonic-platform-common.git
[submodule "src/sonic-platform-daemons"]
	path = src/sonic-platform-daemons
	url = https://github.com/mhchann/sonic-platform-daemons.git
[submodule "src/sonic-platform-pde"]
	path = src/sonic-platform-pde
	url = https://github.com/mhchann/sonic-platform-pdk-pde.git
[submodule "src/sonic-frr/frr"]
	path = src/sonic-frr/frr
	url = https://github.com/mhchann/frr.git
[submodule "platform/p4/p4-hlir/p4-hlir-v1.1"]
	path = platform/p4/p4-hlir/p4-hlir-v1.1
	url = https://github.com/mhchann/p4-hlir.git
[submodule "platform/p4/SAI-P4-BM"]
	path = platform/p4/SAI-P4-BM
	url = https://github.com/mhchann/SAI-P4-BM.git
[submodule "platform/barefoot/sonic-platform-modules-arista"]
	path = platform/barefoot/sonic-platform-modules-arista
	url = https://github.com/mhchann/sonic.git
[submodule "platform/mellanox/hw-management/hw-mgmt"]
	path = platform/mellanox/hw-management/hw-mgmt
	url = https://github.com/mhchann/hw-mgmt.git
[submodule "src/redis-dump-load"]
	path = src/redis-dump-load
	url = https://github.com/mhchann/redis-dump-load.git
[submodule "src/scapy"]
	path = src/scapy
	url = https://github.com/mhchann/scapy.git
[submodule "src/sonic-mgmt-framework"]
	path = src/sonic-mgmt-framework
	url = https://github.com/mhchann/sonic-mgmt-framework.git
[submodule "src/sonic-ztp"]
	path = src/sonic-ztp
	url = https://github.com/mhchann/sonic-ztp.git
[submodule "src/sonic-restapi"]
	path = src/sonic-restapi
	url = https://github.com/mhchann/sonic-restapi.git
	branch = master
[submodule "src/sonic-mgmt-common"]
	path = src/sonic-mgmt-common
	url = https://github.com/mhchann/sonic-mgmt-common.git
[submodule "src/wpasupplicant/sonic-wpa-supplicant"]
	path = src/wpasupplicant/sonic-wpa-supplicant
	url = https://github.com/mhchann/sonic-wpa-supplicant.git
[submodule "platform/broadcom/saibcm-modules-dnx"]
	path = platform/broadcom/saibcm-modules-dnx
	url = https://github.com/mhchann/saibcm-modules.git
	branch =  sdk-6.5.22-gpl-dnx
[submodule "platform/broadcom/sonic-platform-modules-nokia"]
	path = platform/broadcom/sonic-platform-modules-nokia
	url = https://github.com/mhchann/sonic-platform.git
[submodule "src/linkmgrd"]
	path = src/linkmgrd
	url = https://github.com/mhchann/sonic-linkmgrd.git
[submodule "src/sonic-p4rt/sonic-pins"]
	path = src/sonic-p4rt/sonic-pins
	url = https://github.com/mhchann/sonic-pins.git
[submodule "src/ptf-py3"]
	path = src/ptf-py3
	url = https://github.com/mhchann/ptf.git
[submodule "src/dhcprelay"]
	path = src/dhcprelay
	url = https://github.com/mhchann/sonic-dhcp-relay.git
[submodule "src/sonic-host-services"]
	path = src/sonic-host-services
	url = https://github.com/mhchann/sonic-host-services.git
[submodule "src/sonic-gnmi"]
	path = src/sonic-gnmi
	url = https://github.com/mhchann/sonic-gnmi.git
[submodule "src/sonic-bmp"]
	path = src/sonic-bmp
	url = https://github.com/mhchann/sonic-bmp.git
[submodule "src/sonic-genl-packet"]
	path = src/sonic-genl-packet
	url = https://github.com/mhchann/sonic-genl-packet.git
[submodule "src/dhcpmon"]
	path = src/dhcpmon
	url = https://github.com/mhchann/sonic-dhcpmon.git
[submodule "src/sonic-dash-api"]
	path = src/sonic-dash-api
	url = https://github.com/mhchann/sonic-dash-api.git
[submodule "src/sonic-dash-ha"]
	path = src/sonic-dash-ha
	url = https://github.com/mhchann/sonic-dash-ha.git
[submodule "src/sonic-stp"]
	path = src/sonic-stp
	url = https://github.com/mhchann/sonic-stp.git
[submodule "platform/marvell-teralynx/sonic-platform-marvell-teralynx"]
	path = platform/marvell-teralynx/sonic-platform-marvell-teralynx
	url = https://github.com/mhchann/sonic-platform-marvell.git
[submodule "platform/vpp"]
	path = platform/vpp
	url = https://github.com/mhchann/sonic-platform-vpp.git
[submodule "platform/marvell-prestera/mrvl-prestera"]
	path = platform/marvell-prestera/mrvl-prestera
	url = https://github.com/mhchann/mrvl-prestera.git
[submodule "platform/marvell-prestera/sonic-platform-marvell"]
	path = platform/marvell-prestera/sonic-platform-marvell
	url = https://github.com/mhchann/sonic-platform-arm64.git
[submodule "src/sonic-sysmgr/gnoi"]
	path = src/sonic-sysmgr/gnoi
	url = https://github.com/mhchann/gnoi.git
[submodule "platform/marvell-teralynx/mrvl-teralynx"]
	path = platform/marvell-teralynx/mrvl-teralynx
	url = https://github.com/mhchann/mrvl-teralynx.git
[submodule "src/supervisor"]
	path = src/supervisor
	url = https://github.com/mhchann/supervisor.git
[submodule "platform/alpinevs"]
	path = platform/alpinevs
	url = https://github.com/mhchann/sonic-alpine.git
